<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #004b81;">
  <a class="navbar-brand" href="#" style="color: white;">Central Industries PLC - Stock Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <a class="" href="#" style="color: #ffffff;position: absolute; right: 2%;">
      &nbsp;<img
        src='https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png'
        class="rounded-circle" width="50" height="50">
        <strong>{{UserName}}</strong>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>