<div class="container-fluid fill-height">
    <div class="row full-height">
        <div class="col" style="background-color: gray;">
            <p class="text-white" style="margin-top: 10%;">Assign Transaction Handler</p>
            <hr style="background-color: white;">
        </div>
        <div class="col-10" style="background-color: rgba(201, 201, 201, 0.897);">
            <nav aria-label="breadcrumb" style="margin-top: 2%;">
                <ol class="breadcrumb" style="background-color: rgba(0, 0, 0, 0); padding-left: 0%;">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Transactions</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Assign Transaction Handler</li>
                </ol>
            </nav>

            <h2>Assign Transaction Handler</h2>
            <div class="row" style="margin-top: 5%;margin-bottom: 2%;">
                <div class="col-md-2">
                    Transaction ID
                </div>
                <div class="col-sm-4">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="transactionId" name="transactionId">
                        <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
                    </form>
                </div>

            </div>
            <div>
                <div class="card">
                    <div class="card-header">
                        Location Details
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <div class="row">
                                <div class="col-md-2">
                                    <div>
                                        <label>Date</label>
                                    </div>
                                    <div>
                                        {{transaction?.Date}}
                                    </div>


                                </div>
                                <div class="col-md-2">
                                    <div>
                                        <label>Transaction No</label>
                                    </div>
                                    <div>
                                        {{transaction?.transactionNo}}
                                    </div>


                                </div>
                                <div class="col-md-2">
                                    <div>
                                        <label>Transaction Type</label>
                                    </div>
                                    <div>
                                        {{transaction?.transactionType}}
                                    </div>


                                </div>
                                <div class="col-md-2">
                                    <div>
                                        <label>Location</label>
                                    </div>
                                    <div>
                                        {{transaction?.location}}
                                    </div>


                                </div>
                                <div class="col-md-2">
                                    <div>
                                        <label>Quantity</label>
                                    </div>
                                    <div>
                                        {{transaction?.quantity}}
                                    </div>


                                </div>
                            </div>

                        </blockquote>
                    </div>
                </div>
                <div class="row" style="margin-top: 2%;">
                    <div class="col-sm-8">
                        <table class="table table-sm">
                            <thead class="thead-dark">
                                <tr>

                                    <th scope="col">Employee Id</th>
                                    <th scope="col">Name</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Mark</td>
                                    <td>Otto</td>
                                    

                                </tr>
                                <tr>

                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <div style="position: absolute;left: 0;bottom: 0;margin-left: 20%;">

                            <div>
                                <button class="btn btn-primary" (click)="addStaffMember()">Add Staff Member</button>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>